@charset "utf-8"; 
                          
body {                                     /* 文書全体 */
  margin: 0;
  padding: 0;
  color: #333333;
  color: #333333;
  font-size: 15px
}

h1 {
  font-family: 'メイリオ', serif;
  font-size: 36px;
  border-bottom:1px solid;
  border-color: #AAAAAA;
  text-align: left;
  margin: 20px;
}

h2{
    font-size: 20px;
}


img{                                       /* 画像 */
    vertical-align:bottom;
    text-align: center
}

a img:hover{
    opacity: 0.8;
}

a{                                         /* ハイパーリンク全般 */
    text-decoration: none;
}

a:hover{                                   /* ハイパーリンク全般のカーソル乗時 */
    text-decoration: underline;
}

ul{                                        /* リスト全般 */
  margin:0;
  padding:0;
  list-style: none;
}

header{                                    /* ヘッダー部分 */
  background-color: #FFE59F; 
  font-size: 20px;
}

.logo{
  float: center;
  width: 960px;
  margin: 0 auto;
}
    
.global-nav {                              /* 上部リスト */
  float: center;
  width: 960px;
  margin: 20px auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.global-nav li {                           /* 上部リストの各項目 */
  float: left;
  margin: 0 10px;
  font-size: 20px;
  list-style: none;
}

.nav_images{
width: 80%;
height: 80%;
}
 
.btn-square{                                /* 上部リストのボタン */
  background-color: #FFE59F;
  font-size:24px;
  font-weight: bold;
  font-family: "マキナス4Square";
  width: 165px;
  display: block;
  text-align: center;
  line-height: 60px;
  color: blue: black;
  margin-top: 20;
  border-bottom:solid 4px #cc9966;
  border-radius: 5px;
}



.btn-square2{                                /* 上部リストのボタン */
  background-color: #FFE59F;
  font-size:24px;
  font-weight: bold;
  font-family: "マキナス4Square";
  width: 165px;
  display: block;
  text-align: center;
  line-height: 60px;
  color: blue: black;
  margin-top: 20;
  border-bottom:solid 4px #cc9966;
  border-radius: 5px;
}


.content{                                   /* コンテンツ全般 */
    width: 960px;
    float: center;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 50px;

}

.main{                                      /* メインコンテンツ */
    background-color: cornsilk;
    width: 905px;
    height:auto;
    clear: both;
    margin: 0;
    margin-top: 20px;
    padding: 0px 10px 50px;
    float: left;
    font-weight: bold;
    text-align: center;
    font-family: YuMincho;
}


.main2{                                      /* メインコンテンツ */
    background-color: cornsilk;
    width: 680px;
    clear: both;
    margin: 0;
    margin-top: 20px;
    padding: 0px 10px;
    float: left;
    font-weight: bold;
    text-align: center;
    font-family: YuMincho;
}

.main3{                                     /* メインコンテンツ */
    background-color: cornsilk;
    width: 905px;
    height:1150px;
    clear: both;
    margin-top: 20px;
    padding: 0px 10px 50px;
    float: left;
    font-weight: bold;
    text-align: left;
    font-family: YuMincho;
    font-size:17px;
}


.link {
    font-size: 18px;  
    text-align: center
    font-family: YuMincho;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    
}

.sidebar{                                   /* 右側コンテンツ */
    background-color: #FDE8B6;
    width: 230px;
    height: 440px;
    margin:  10px;
    font-size: 20px;
    margin-top: 20px;
    float: right;
    border-radius: 3px;
    border-color: #777777;
}

.sidebar li {                             /* 右側リストの各項目 */
  font-size: 18px;
  list-style: none;
    padding-left: 5px;  
}

.btn-sidebar{                              /* 右側リストのボタン */
    font-weight: bold;
    font-family: YuMincho;
    width: 195px;
    display: block;
    text-align: center;
}

.sidebar_menu {
  font-family: 'メイリオ', serif;
  font-size: 20spx;
  border-color: #444444;
  text-align: center;
  margin: 10px;
  border-left: solid 10px #ffb05e;  
  background: white;
  font-weight: bold;    
}

dammy{                                      /* メインコンテンツ */
    clear: both;
    margin: 0;
    margin-top: 20px;
    padding: 60px 0px;
    float: left;
    font-weight: bold;
    text-align: left;
    font-family: YuMincho;
}

footer {                                   /* フッター部分 */
  text-align: center;
  color: #ffffff;
  font-size: 18px;    
  padding: 20px 20px;
  background-color: #767671;  
  float:bottom;
  clear: both;

}

.graf_images {
height: auto;
width: 95%;
}

.box1 {
    width: 300px;
    height: 220px;
    padding: 20px 20px;
    margin: 20px 40px;
    background: #f4f4f4;
    border-left: solid 6px #5bb7ae;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
    float: left;    

}
.box1 p {
    margin: 10px; 
    padding: 0px;
    font-size: 18px;
    font-family: cursive;
}

.box3 {
   width: 260px;/* 紙の横幅 100%にすると全幅表示に */
   padding: 15px;
   margin: 2em auto;
   background: #FFE59F;/* 紙の色 */
   color: #000;/* 文字色 */
   box-shadow: 4px 4px 4px rgba(0,0,0,0.03);transform:rotate(2deg);
   word-break: break-all;
}
.box3 p {
    margin: 0; 
    padding: 0;
    font-size: 17px;
}
.box3_tape {
    width: 50%;
    height: 35px;
    margin: -25px auto 0;
    background: #989898;
    transform: rotate(-3deg);
    opacity: 0.1;
}
.box3_title {
    text-align: center;
    font-size: 1.3em!important;
    margin-top: 10px!important;
}
.box3_subtitle {
    text-align: center;
    font-size: 0.7em!important;
    margin-bottom: 1em!important;
}
.box3_images{
height: 25%;
width: 35%;
}

.box4 {
   width: 260px;/* 紙の横幅 100%にすると全幅表示に */
   padding: 15px;
   margin: 0px 100px;
   background: #FFE59F;/* 紙の色 */
   color: #000;/* 文字色 */
   box-shadow: 4px 4px 4px rgba(0,0,0,0.03);transform:rotate(2deg);
   word-break: break-all;
   float: left;
}
.box4 p {
    margin: 0; 
    padding: 0;
    font-size: 17px;
}

.box4_images{
height: 70%;
width: 70%;
}

.box5 {
   width: 260px;/* 紙の横幅 100%にすると全幅表示に */
   padding: 15px;
   margin-right: 100px;
   background: #FFE59F;/* 紙の色 */
   color: #000;/* 文字色 */
   box-shadow: 4px 4px 4px rgba(0,0,0,0.03);transform:rotate(2deg);
   word-break: break-all;
   float: right;
}
.box5 p {
    margin: 0; 
    padding: 0;
    font-size: 17px;
}

.box5_images{
height: 30%;
width: 30%;
}

.box6 {
    padding: 20px 20px 10px 20px;
    margin-bottom: 20px;
    margin-left:15px;
    height:300px;
    width:600px;
    color: #232323;
    background:  #FFE59F;
    border-left: solid 10px #ffb05e;
}

.box6 li{
    list-style: none;    
}

.box6_book{
    float:left;
    margin-left:5px;
}

.bookcover{
    width:210px;
    height: 300px;
    float:left;  
}

.bookcontent{
    width:380px;
    height: 35px;
    float:right;
    border-bottom: solid 1px #444444;
    text-align: center;    
    background: snow;
    font-size:22px;    
    line-height: 40px;
}


.book_description1{
    width:100px;
    height: 240px;
    float:left;
    text-align:center;
    margin-top:10px;
    margin-left:10px;
    font-size:17px;
    background: cornsilk;
    line-height: 26px;
}

.book_description2{
    width:260px;
    height: 240px;
    float:left;
    text-align: left;
    margin-top:10px;
    margin-left:20px;
    font-size:17px; 
    background: cornsilk;
    line-height: 26px;
}

.intro_img{
    float:center;
    margin-top: 10px;
}

.intro_img2{
    float:left;
    margin-top: 10px;
    margin-left: -50px;
}

.box7 {
    padding: 0px 5px 5px 5px;
    margin-top: 5px;
    margin-left:5px;
    height:72px;
    width:600px;
    color: #232323;
    background:  #FFE59F;
    border-left: solid 10px #ffb05e;
}

